* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header {
    width: 100%;
    height: 100px;
    background: rgb(189, 175, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

.search__controls {
    position: relative;
    top: 100px;
    left: 40%;
}

.search-controls {
    padding: 20px;
    max-width: 350px;
    box-shadow: 5px 5px 5px 7px rgba(0, 0, 0, 0.096);
}

.search-controls__title {
    font-size: 25px;
    margin-bottom: 15px;
}

.search-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#search-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#search-form select,
label,
input {
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    border: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.196);
    padding-bottom: 10px;
}

#search-form label {
    color: #000000b4;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.search-btn {
    /* border: none;
    padding: 15px;
    font-size: 15px;
    background: rgb(189, 175, 255);
    transition: 1.5s;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; */

    top: 0px;
    left: 0px;
    width: 70px;
    height: 45px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    transition: 1.5s;
    background: rgb(189, 175, 255);
    margin: 0 auto;
    font-size: 15px;
}

.search-btn:hover {
    width: 100%;
    font-size: 17px;
}

img {
    width: 100%;
    display: block;
}

.continer {
    width: 100%;
    max-width: 1200px;
    padding: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-news {
    max-width: 350px;
    width: 40%;
    padding: 25px;
    background: hsl(221, 65%, 82%);
}

.card-news__img {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
}

.card_news__title{
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 25px;
}

.card_news__title{
    font-size: 16px;
    font-weight: 300px;
}