* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.timer-container {
    padding-top: 200px;
}

.timer-title {
    text-align: center;
    margin-bottom: 100px;
}

.timer-numbers {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 600px;
    background-color: darkgreen;
    padding: 60px;
}

.timer-numbers div {
    width: 200px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    word-spacing: 1000px;
}