.container-fluid{
    display: flex;
    padding: 15px;
}
.navbar-brand{
    font-size: 33px;
    align-items: center;
    margin-left: 10px;
}
.nav-link{
    font-size: 22px;
}

.speech{
    margin: 120px;
    margin-top: 150px;
}
p{
    font-size: 25px;
}
.log{
    font-size: 22px;
    color: rgb(142, 142, 142);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
}
.log:hover{
    color: rgb(189, 189, 189);
}
.collapse{
    justify-content: space-between;
}

.img-mc{
    display: flex;
    align-items: center;
}

.logo {
    max-width: 108px;
    max-height: 108px;
}