
<app-product-page></app-product-page>

<!-- <p>main-layout works!</p> -->



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Jewels</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="rings" aria-current="page" href="/admin/rings">Rings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="necklaces" href="/admin/necklaces">Necklaces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="earings" href="/admin/earrings">Earrings</a>
                </li>
                <li class="nav-item disabled">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Bracelets</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="speech">
    <h1>Hi!</h1>

    <p>"Jewels" - it's a small business that has only recently started its activities, however, due to the quality and
        availability of our products, it already has a fairly large circle of customers. You can buy rings, necklaces
        and earrings in our shop, and bracelets will soon appear. We hope that you will like some of our products.</p>
    <p>Enjoy shopping)</p>
</div>

<router-outlet></router-outlet>