<!-- <p>login-page works!</p> -->


<form [formGroup]="form" ng-submit="submit()" class="container">

    <h2>Увійдіть у ваш аккаунт</h2>

    <div class="form-control">
        <p for="email">Емейл:</p>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="error">
            <small *ngIf="form.controls['email'].errors?.['required']">Введіть емейл</small>
            <small *ngIf="form.controls['email'].errors?.['email']">Емейл невірний</small>
        </div>
    </div>

    <div class="form-control">
        <p for="password">Пароль:</p>
        <input type="password" formControlName="password" id="password" >
        <div *ngIf="form.controls['password'].touched && form.controls['password'].invalid" class="error">
            <small *ngIf="form.controls['password'].errors?.['required']">Введіть пароль</small>
            <small *ngIf="form.controls['password'].errors?.['minlength']">Пароль менший ніж 8 символів</small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-dark" [disabled]="form.invalid || submitted" href="#" >Увійти</button>

</form>